@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

* {
  -webkit-font-smoothing: antialiased;
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

@font-face {
  font-family: "AirbnbCereal";
  src: url("/fonts/AirbnbCereal_W_XBd.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "AirbnbCereal";
  src: url("/fonts/AirbnbCereal_W_Bd.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "AirbnbCereal";
  src: url("/fonts/AirbnbCereal_W_Md.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "AirbnbCereal";
  src: url("/fonts/AirbnbCereal_W_Lt.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

/* @font-face {
  font-family: "Recoleta";
  src: url("/fonts/Recoleta-RegularDEMO.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
} */

@font-face {
  font-family: "Recoleta";
  src: url("/fonts/Recoleta/Recoleta-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Recoleta";
  src: url("/fonts/Recoleta/Recoleta-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Recoleta";
  src: url("/fonts/Recoleta/Recoleta-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Recoleta";
  src: url("/fonts/Recoleta/Recoleta-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Recoleta";
  src: url("/fonts/Recoleta/Recoleta-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

/* @font-face {
  font-family: "Recoleta";
  src: url("/fonts/Recoleta/Recoleta-ExtraLight.ttf") format("truetype");
} */

/* 
:root {
  font-family: AirbnbCereal, sans-serif !important;
} */

button {
  @apply rounded-md;
}
/* 
@keyframes kf {
  0% {
    max-width: 20px;
  }
  100% {
    max-width: 100%;
  }
}

.animate__width {
  transition: all;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  transition-delay: 0.3s;
  animation: kf 0.3s linear 1.3s forwards;
} */

.opened {
  max-width: 999px !important;
  transition: all;
  transition-duration: 0.6s !important;
  transition-timing-function: linear !important;
  overflow: hidden;
}

.closed {
  max-width: 72px;
  padding: 0;
  transition: all;
  transition-duration: 0.3s !important;
  transition-timing-function: linear !important;
  overflow: hidden;
}

/* .closed {
  transition: all 1s;
  max-height: 0;
}

.opened {
  transition: all 1s;
  max-height: 9999px;
} */

.grid__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.cards__gradient {
  background: linear-gradient(
    165deg,
    #fff 0%,
    #f6f4fe 42%,
    #fcece7 86%,
    #fff 91%
  );
}

/* testing ground */

.wrapper {
  display: inline-block;

  /* height: 20px; */
  width: auto;

  padding: 10px;

  /* background:#DDD; */
}

.content {
  /* display:inline-block; */

  width: 0%;

  white-space: nowrap;
  overflow: hidden;

  /* background:#c3c; */
}

.wrapper:hover .content {
  -webkit-transition: width 1s ease-in-out;
  -moz-transition: width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;

  width: 100%;
}

/* testing ground */


.first__gradient {
  background: linear-gradient(
    165deg,
    #fff -15%,
    #ded7fc 5%,
    #fbebee 17%,
    #fff 65%
  );
}

.second__gradient {
  background: linear-gradient(
    75deg,
    #fff 0%,
    #f4b7e2 62%,
    #f7ceec 79%,
    #f6c485 100%
  );
}

.integrations__gradient {
  background: linear-gradient(
    40deg,
    #8270bf 35%,
    #af98f8 50%,
    #8270be 65%
  );
  -webkit-text-fill-color: transparent;
  color: transparent;
  background-clip: text;
  
}